.signUp{
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
}

.b{
    border-right: 1px solid gray;
}

ul li{
    font-size: 17px;
    font-weight: 700;
}
