.topBanner{
    background-image: linear-gradient(rgba(19, 19, 18, 0.945), rgba(206, 26, 26, 0.493)),url("../../../assets2/topBanner.jpg");
    /* background-image: url('../../../assets2/top2.png'); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(10px, 10px, 10px);
}

/* @media only screen and (max-width: 425px){
	.f{
        font-size: 40px;
    }
} */