/* .one{
    background-image: url(../../../assets/s1.jpg);
    background-size: cover;
    height: 60vh;
}

.two{
    background-image: url(../../../assets/workoutbg.jpg);
    background-size: cover;
    height: 60vh;
}

.three{
    background-image: url(../../../assets/nutrationbg.jpg);
    background-size: cover;
    height: 60vh;
} */

@media only screen and (max-width: 425px){
	.sgrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}